# Python
__pycache__/
*.py[cod]
*$py.class
venv/
*.so

# Data and models
chat_history.jsonl
data/
models/*.pt
models/*.bin

# Eval output
eval/

# Keep model config
!models/config.json

# IDE
.idea/
.vscode/
.air/
*.swp
*.swo

# Virtual environments
.venv/

# OS
.DS_Store
